@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@plugin "daisyui";

@plugin "daisyui" {
  themes: all;
}

@theme {
  --breakpoint-*: initial;
  --breakpoint-tablet: 40rem;
  --breakpoint-laptop: 64rem;
  --breakpoint-desktop: 80rem;
}

html {
  scroll-behavior: smooth;
  transition: background-color 0.7s ease-in-out, color 0.7s ease-in-out;
}

html.dark {
  background-color: oklch(13% 0.028 261.692);
  background-attachment: fixed;
  background-repeat: repeat;
}

html:not(.dark) {
  background-color: oklch(98.4% 0.003 247.858);
  background-attachment: fixed;
  background-repeat: repeat;
}

.c_container {
  @apply container mx-auto px-4 tablet:px-0 mt-14 tablet:mt-16 laptop:mt-20 scroll-mt-15;
}

.c_section {
  @apply border border-green-200 dark:border-green-200/10 bg-green-50/70 dark:bg-green-50/10 backdrop-blur-sm p-2 mb-5 rounded-sm;
}

.c_section h2 {
  @apply font-bold text-green-500;
}

.custom-list li::marker {
  color: oklch(72.3% 0.219 149.579);
}