@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
  themes: all;
}

@theme {
  --breakpoint-*: initial;
  --breakpoint-tablet: 40rem;
  --breakpoint-laptop: 64rem;
  --breakpoint-desktop: 80rem;
}

html {
  scroll-behavior: smooth;
}

.c_container {
  @apply container mx-auto px-4 tablet:px-0 mt-12 tablet:mt-16 laptop:mt-20 scroll-mt-14;
}

.custom-list li::marker {
  color: oklch(72.3% 0.219 149.579);
}